<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Hack ta ferme</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="exemple@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel [minlength]="'6'" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>

          <ion-row>
            <div text-center>
              Si vous n'avez pas de compte, vous pouvez <ion-button color="secondary" fill="clear" routerDirection="root" routerLink='/register'>en créer un ici !</ion-button>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
