<ion-content color="primary">
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel [minlength]="'6'" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel pattern="{{form.value.password}}" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>

          <ion-row>
            <div text-center>
              Si vous avez déjà un compte, vous pouvez vous <ion-button fill="clear" routerLink="/login" color="secondary" routerDirection="root">
              connecter sur cete page !</ion-button>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
