<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab3">
      <ion-icon name="" color="secondary">
      <fa-icon icon="hand-holding-seedling"></fa-icon>
      </ion-icon>
      <ion-label>Interventions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <!--
      <ion-icon name="flash" color="secondary"></ion-icon>
      -->
      <ion-label>Pression adventices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps" color="secondary"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send" color="secondary"></ion-icon>
      <ion-label>Tab Four</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
