<!--
<app-tab-header></app-tab-header>
-->
<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            Planning des interventions
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--
    <ion-list>
      <ion-list-header>
        <ion-label>Météo</ion-label>
      </ion-list-header>

      <ion-item>
      -->
    <!--
    <fa-icon icon="sun-cloud"></fa-icon>
    <fa-icon icon="tractor"></fa-icon>
    <fa-icon icon=""></fa-icon>
    -->
    <!--
        <mat-icon color="primary">tractor</mat-icon>
      </ion-item>

      <ion-item *ngFor="let prevision of dayPrevisions">

      </ion-item>
    </ion-list>
    -->

    <ion-list>
        <ion-item *ngFor="let prevision of dayPrevisions">
            <ion-grid>
                <ion-row>
                    <ion-col size="2" class="weather-date">
                        {{prevision.date | moment}}
                    </ion-col>
                    <ion-col size="3">
                        <ion-row justify-content-center="true">
                            <fa-icon [icon]="prevision.meteo === 'soleil' ? 'sun' : prevision.meteo === 'pluie' ? 'cloud-showers-heavy' : 'cloud'"></fa-icon>
                        </ion-row>
                        <ion-row>
                            <ion-label class="weather-label">
                                96h : {{prevision.precipitationPrevue}}mm
                            </ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col size="4">
                        <ion-row justify-content-center="true">
                            <fa-icon [className]="prevision.portance === 'yes' ? 'weather-is-good' : 'weather-is-not-good'" icon="tractor"></fa-icon>
                        </ion-row>
                        <ion-row>
                            <ion-label class="weather-label" justify-content-center="true">
                                {{prevision.portance === 'yes' ? 'Forte': 'Faible'}} portance
                            </ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col size="3">
                        <ion-row justify-content-center="true">
                            <fa-icon [className]="prevision.repiquage === 'yes' ? 'weather-is-not-good' : 'weather-is-good'" icon="seedling"></fa-icon>
                        </ion-row>
                        <ion-row>
                            <ion-label class="weather-label">
                                Risque {{prevision.repiquage === 'yes' ? 'fort' : 'faible'}} de repiquage
                            </ion-label>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>
